@model CsiMediaProject.Web.Models.OrderedElement

@{
    ViewBag.Title = "Details";
}

<h2>Details numbers ordination</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numbers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortDuration)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>